/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body{ margin:0px; padding:0px; font-family:'FiraSans',Arial, sans-serif;background-color:#FFFFFF; height:100%; position:relative; font-size:13px!important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px;}
html{height:100%; -webkit-text-size-adjust: none;-ms-text-size-adjust: none;}
input, textarea {color: #333;  outline:none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none;}
input[type="button"], input[type="submit"], button {cursor: pointer}
td{margin: 0px; padding: 0px;}
form{padding: 0px; margin: 0px;}
a{color: #000100; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration:none; outline:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input[type=submit], input[type=button], button{-webkit-appearance: none; outline: none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:after,
.wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@font-face {
	font-family:'FiraSans';
	src: url('../fonts/FiraSans-Book.eot');
	src: url('../fonts/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Book.woff') format('woff'),
		url('../fonts/FiraSans-Book.ttf') format('truetype'),
		url('../fonts/FiraSans-Book.svg#FiraSans-Book') format('svg');
	font-weight: 350;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-1F310;
}
@font-face {
	font-family:'HeliosCond';
	src: url('../fonts/HeliosCond-Regular.eot');
	src: url('../fonts/HeliosCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HeliosCond-Regular.woff') format('woff'),
		url('../fonts/HeliosCond-Regular.ttf') format('truetype'),
		url('../fonts/HeliosCond-Regular.svg#HeliosCond-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}

@font-face {
	font-family:'Helios';
	src: url('../fonts/HeliosLightC-Regular.eot');
	src: url('../fonts/HeliosLightC-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HeliosLightC-Regular.woff') format('woff'),
		url('../fonts/HeliosLightC-Regular.ttf') format('truetype'),
		url('../fonts/HeliosLightC-Regular.svg#Helios') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}
@font-face {
	font-family:'FiraSans';
	src: url('../fonts/FiraSans-BookItalic.eot');
	src: url('../fonts/FiraSans-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-BookItalic.woff') format('woff'),
		url('../fonts/FiraSans-BookItalic.ttf') format('truetype'),
		url('../fonts/FiraSans-BookItalic.svg#FiraSans-BookItalic') format('svg');
	font-weight: 350;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-1F310;
}



/*

================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/

.main-wrapper{
	padding: 0 0 0 0;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	min-height:100%;
}
.wrapper{
	min-width: 320px;
	/*max-width: 1600px;*/
	padding: 0 105px 0 105px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{
	font-size: 16px;
	line-height: 24px;
	padding: 12px 0 12px 0;
	font-weight: 350;
	color: #010101;
}
h1{
	font-size: 30px;
	line-height:34px;
	font-family: 'HeliosCond';
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #010101;
	text-transform: uppercase;
}
h2{
	font-size: 30px;
	line-height:34px;
	font-family: 'HeliosCond';
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #010101;
	text-transform: uppercase;
}
h3{
	font-size: 24px;
	line-height:30px;
	font-family: 'HeliosCond';
	padding: 15px 0 9px 0;
	font-weight: 400;
	color: #010101;
	text-transform: uppercase;
}
h3 a{
	font-size: 24px;
	line-height:30px;
	font-family: 'HeliosCond';
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #010101;
	text-transform: uppercase;
}
h3 a:hover{color: #f36f21;}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:#FFF;
	width:100%;
	min-width: 320px;
	text-align:left;
	position:absolute;
	left:0px; top:52px;
	z-index:1;}
.main-page header{
	top: 52px;
}
header .wrapper{
	padding-right: 161px;
}
.logo{
	float: left;
	padding: 42px 0 20px 0;
	width: 203px;
	position: relative;
	z-index: 1;
}
.opened-block-nav{
	float: right;
	margin: 0 0 0 -203px;
	padding:0 0 0 203px;
	width: 100%;
}
.main-nav{
	float: left;
	margin: 0 -118px 0 0;
	padding: 0 118px 0 0;
	width: 100%;
	text-align: center;
}
.main-nav-list{
	padding: 54px 1% 0 0;
}
.main-nav-list__item{
	display: inline-block;
	vertical-align: top;
	padding: 0 4.1% 0 4.1%;
	margin: 0 -5px 0 0;
}
.main-nav-list__link{
	display: block;
	font-size: 16px;
	line-height: 20px;
	color: #010101;
	text-decoration: none;
	font-weight: 350;
}
.main-nav-list__link:hover{
	color: #f36f21;
}
.box-search{
	float: right;
	padding: 0 0 0 0;
	width: 118px; height: 120px;
	position: absolute;
	right: 0px; top: 0px;
	z-index: 1;
}
.box-search__link{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 42px 0 0 0;
}
.box-search__link:hover{
	background: #f36f21;
}

.box-search__icon{
	display: block;
	width: 41px;
	height: 41px;
	margin: 0 auto 0 auto;
	background:url(../img/icon_search.png) no-repeat left top;
}
.box-search__link:hover .box-search__icon{
	background-position: left bottom;
}

.main-nav{
	position: relative;
	min-height: 120px;
	margin-right: 0px;
	overflow: hidden;
}
.search-form{
	position: absolute;
	right: -400%; top: 0px;
	width: 100%;
	height: 120px;
	-moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; transition: all 0.5s linear;
	z-index: 2;
}
.opened-search{
	right: 118px;
}
.search-form form{
	height: 100%;
}
.search-form__field{
	width: 100%;
	height: 100%;
	background: #FFF;
}
.search-form__field input{
	display: block;
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	padding: 15px 20px 15px 20px;
	color: #000;
	font-family: 'Helios';
	font-size: 18px;
	line-height: 21px;
	font-weight: 350;
}
::-webkit-input-placeholder{color:#000!important;opacity:1 !important;}
::-moz-placeholder{color:#000!important;opacity:1 !important;}

.box-lang{
	position: absolute;
	right: 0;
	top: 0px;
	width: 161px;
	height: 120px;
	text-align: center;
	margin: 0 0 0 0;
}
.box-lang__link{
	display: block;
	width: 100%;
	height: 100%;
	padding: 42px 0 0 0;
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Helios';
	background: #f36f21;
}
.box-lang__link:hover{
	background: #FFF;
	color: #f36f21;
}

.button-nav{
	display:none;
	width:40px;
	position:relative;
	height:30px;
}
.button-nav span{
	display: block;
	margin: 6px auto 6px auto;
	width: 100%;
	background: #000;
	height: 3px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
.button-nav.active span:nth-child(2){
	background:transparent;
}
.button-nav.active span:first-child{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	position:absolute;
	left:0;top:14px; 
	margin: 0 0 0 0;}
.button-nav.active  span:last-child{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	position:absolute;
	right:0;top:14px; 
	margin: 0 0 0 0;}



/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	width:100%;
	min-width: 320px;
	text-align:left;
	overflow-y: hidden;
}
.main-page .content{
	padding-top: 0px!important
}
.box-slider{
	position: relative;
	padding: 0 0 0 0;
	height: 797px;
}
.slider-wrap{
	width: 100%;
	height: 100%;
}
.box-slider__item{
	width: 100%;
	height: 100%;
	position: relative;	
	background:rgba(0,0,0,0.8) url(../img/bg_list_header.png) repeat -6px top;
}

.box-slider__img{
	position: absolute;
	left: 0; right: auto; top: 0px;
	width: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.load-animate .box-slider__img{
	-moz-transition: all 0.2s 0.4s linear; -o-transition: all 0.2s 0.4s linear; -ms-transition: all 0.2s 0.4s linear; -webkit-transition: all 0.2s 0.4s linear; transition: all 0.2s 0.4s linear;
}

.slick-active .box-slider__img{
	left:auto;
	right: 0px;
	width: 100%;
}

.loaded .slick-active .box-slider__img{
	left:auto!important;
	right: 0px!important;
	width: 100%!important;
	-moz-transition: all 0.1s 0 linear; -o-transition: all 0.1s 0 linear; -ms-transition: all 0.1s 0 linear; -webkit-transition: all 0.1s 0 linear; transition: all 0.1s 0 linear;
}

.load-finished .slick-active .box-slider__img{
	left:auto!important;
	right: 0px!important;
	width: 100%!important	
}





.box-slider__img:before{
	display: block;
	content: '';
	position: absolute;
	left: 0px; top: 0px;
	width: 100%;
	height: 100%;
	background:url(../img/bg_list_header.png) repeat -6px top;
}



.slick-list, .slick-track{
	height: 100%;
}
.slider-wrap .slick-prev{
	left: 296px;;
	top:auto;
	bottom: 58px;
	z-index: 2
}
.slider-wrap .slick-next{
	left: 530px;
	top:auto;
	bottom: 58px;
	z-index: 2
}
.slick-arrow{
	position: absolute;
	left: 0px; top: 0px;
	background:url(../img/icon_list.png) no-repeat left -18px;
	width: 21px; height: 17px;
	border: none;
	font-size: 0px;
	text-indent: -999px;
	overflow: hidden;
}
.slick-prev{
	-moz-transform: scale(-1,1);
 	-webkit-transform: scale(-1, 1);
 	-o-transform: scale(-1, 1);
 	transform: scale(-1, 1);
}
.slider-inf{
	position: absolute;
	right: 0px; top: 0px;	
	background: #f36f21 url(../img/bg_list_header.png) repeat left top;
	width: 402px;
	padding: 200px 20px 47px 20px;
}
.text-title{
	text-align: center;
	padding: 10px 0 15px 0;
}
.box-list-slider{
	text-align: center;
	padding-left:20px;
	
}
.list{
	display: inline-block;
	text-align: left;
	padding: 48px 0 15px 0;
}
.list__item{
	display: block;
	position: relative;
	padding: 15px 0 15px 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	line-height: 21px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 350;
}
.list__item a{
	font-size: 18px;
	line-height: 21px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 350;
}
.list__item:before{
	display: block;
	content: '';
	width: 21px; height: 17px;
	position: absolute;
	left: 0px; top: 16px;
	background:url(../img/icon_list.png) no-repeat left top;
	-moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
.list__item:hover:before{
	left: 10px;
}
.box-next-screen{
	position: absolute;
	left: 163px; bottom: 25px;
}
.box-next-screen__link{
	display: block;
	text-align: center;
	padding: 0 0 0 0;
	font-size: 12px;
	font-weight: 300;
	color: #FFF;
	font-family: 'Helios';
}
.box-next-screen__icon{
	display: block;
	margin: 0 auto 16px auto;
	background:url(../img/next_screen.png) no-repeat left top;
	width: 24px; height: 44px;
}
.slider-description{
	position: absolute;
	right: 0px; bottom: 0px;
	width: calc(100% - 239px);
	background: #FFF;
	height: 142px;
	padding: 0 160px 0 408px;
}
.box-button-more{
	float: right;
	width: 204px;
	padding: 44px 0 0 0;
	position: relative;
	z-index: 1;
}
.button{
	display: inline-block;
	vertical-align: top;
	padding: 21px 35px 0 35px;
	height: 60px;
	border: 1px solid #f36f21;
	font-size: 18px;
	line-height: 21px;
	color: #f36f21;
	text-transform: uppercase;
	font-family: 'HeliosCond';
	text-align: center;
}
.button:hover{
	background: #f36f21;
	color: #FFF;
}
.button_block{
	display: block;
}
.button_green{
	border-color: #037252;
	color: #037252;
}
.button_green:hover{
	background: #037252;
	color: #FFF;
}
input.button, button.button{
	padding-top: 0px;
}
.button__arrow{
	display: inline-block;
	vertical-align: top;
	margin: -1px 0 0 16px;
	width: 21px; height: 17px;
	background:url(../img/icon_list.png) no-repeat left -36px;
}
.button:hover .button__arrow{
	background-position: left top;
}
.slider-description-text{
	float: left;
	margin: 0 -204px 0 0;
	padding: 0 220px 0 0; 
	width: 100%;
}
.slider-description-text__cont{
	display: table-cell;
	height: 142px;
	vertical-align: middle;
}
.slide-title{
	padding: 5px 0 0 0;
	font-size: 24px;
	line-height: 27px;
	color: #000000;
	text-transform: uppercase;
	font-family: 'HeliosCond';
}
.slider-description-text p{
	padding: 0 0 0 0;
}

.box-services{
	padding: 0 0 0 0;
	background:#00734a url(../img/services-decorate.png) repeat left top;
}
.box-services-list{
	padding: 0 0 0 0;
	margin: 0 -2px 0 0;
}
.box-services-list__item{
	float: left;
	padding: 0 0 0 0;
	width: 33.333333%;
	list-style-type: none;
	border-left: 1px solid #3c9475;
	border-right: 1px solid #3c9475;
	margin: 0 -1px 0 0;
}
.box-services-list__item:nth-child(1),
.box-services-list__item:nth-child(2),
.box-services-list__item:nth-child(3){
	border-bottom: 1px solid #3c9475;
}
.box-services-list__link{
	display: block;
	width: 100%;
	height: 298px;
	padding: 30px 60px 30px 60px;
	position: relative;
}
.box-services-list__link:hover{
	background: #f36f21;
}
.box-services-list__icon{
	display: table;
	width: 100%;
	height: 145px;
}
.box-services-list__icon-cont{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.box-services-list__text{
	display: block;
	position: absolute;
	left: 60px; bottom: 34px;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'HeliosCond';
}
.box-news{
	padding: 60px 0 32px 0;
	background: #f7f7f3;
}
.button-news{
	position: absolute;
	right: 153px;
	top: 0px;
}
.box-news-list{
	padding: 24px 0 30px 0;
	position: relative;
}
.news-list{
	padding: 0 0 0 0;
	margin: 0 -15px 0 -110px;
	position: relative;
}
.news-list__item{
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 110px;
}
.news-list__date{
	display: block;
	padding: 0 0 5px 0;
	font-weight: 350;
	font-style: italic;
	color: #010101;
	font-size: 14px;
	line-height: 17px;
}
.box-news-list .slick-prev{
	left: auto;
	right: 360px; top: -67px;
}
.box-news-list .slick-next{
	left: auto;
	right: 245px; top: -67px;
}
.numbers-news{
	position: absolute;
	right: 252px;
	top: -44px;
	width: 90px;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	font-family: 'HeliosCond';
	text-shadow: 0 0;
}
.box-inf-bottom{
	padding: 0 0 0 0;
	position: relative;
}
.col-inf{
	display: inline-block;
	vertical-align: top;
	margin: 0 -3px 0 0;
	width: 33.333333%;
	overflow: hidden;
}
.col-inf_1{
	width: 28.6%
}
.col-inf_2{
	width: 35.9%
}
.col-inf_3{
	width: 35.5%
}
.inf-about{
	padding: 48px 13% 32px 10%;
}
.list_green .list__item{
	color: #037252;
	font-size: 16px;
	line-height: 20px;
	font-family: 'HeliosCond';
}
.list_green .list__item a{
	color: #037252;
	font-size: 16px;
	line-height: 20px;
	font-family: 'HeliosCond';
}
.list_green .list__item:before{
	background-position: left -17px;
	top: 14px;
	-moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
.list_green .list__item:hover:before{
	left: 10px;
}
.inf-about .list{
	padding-top: 25px;
}
.inf-video{
	display: block;
	background:url(../img/bg_video.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
    transform: scale(1);
	-moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
.inf-video:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
    transform: scale(1.1);
}
.inf-video__icon{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -53px 0 0 -53px;
	border: 2px solid #FFF;
	width: 107px; height: 107px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background:url(../img/icon_play.png) no-repeat 39px center;
	-moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
.inf-video:hover .inf-video__icon{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
    transform: scale(0.9);
}
.one-block-inf{
	display: block;
	height: 50%;
	position: relative;
	overflow: hidden;
}
.one-block-inf__img{
	display: block;
	position: absolute;
	left: 0px; top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
    transform: scale(1);
	 -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
.one-block-inf:hover .one-block-inf__img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
    transform: scale(1.1);
}
.one-block-inf__text{
	display: block;
	position: absolute;
	left: 8%;
	bottom: 17%;
	font-size:36px;
	line-height:48px;
	font-family: 'HeliosCond';
	color: #ffffff;
	text-transform: uppercase;
	z-index: 1;
}

.box-timer{
	position: absolute;
	left: 377px; bottom: 26px;
	width: 86px;
	height: 86px;
}
.box-timer-cont{
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #f36f21;
	text-align: center;
	padding: 0 0 0 0;
	border-radius: 50%;
}
.number-main-slide{
	font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-family: 'HeliosCond';
    text-shadow: 0 0;
	position: absolute;
	left: 0px; top: 35px;
	width: 100%;
}
svg.circleFill {
	z-index: 1;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-stroke-dasharray:265;
	-webkit-stroke-dasharray: 265;
	-o-stroke-dasharray: 265;
	-ms-troke-dasharray: 265;
	stroke-dasharray: 265;
	-moz-stroke-dashoffset: 265;
	-webkit-stroke-dashoffset: 265;
	-o-transform: stroke-dashoffset: 265;
	stroke-dashoffset: 265;
	-ms-stroke-dashoffset: 265;
	transition: all 0;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-ms-transition: all 0s;
	-o-transition: all 0s;
	position: absolute;
	left: 0px; top: 0px;
	width: 100%;
	height: 100%;
}

@-webkit-keyframes dash {
	0% {
		-moz-stroke-dashoffset: 265;
		-webkit-stroke-dashoffset: 265;
		-o-stroke-dashoffset: 265;
		-ms-stroke-dashoffset: 265;
		stroke-dashoffset: 265;
	}
	100% {
		-moz-stroke-dashoffset: 0;
		-webkit-stroke-dashoffset: 0;
		-o-stroke-dashoffset: 0;
		-ms-stroke-dashoffset: 0;
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	0% {
		-moz-stroke-dashoffset: 265;
		-webkit-stroke-dashoffset: 265;
		-o-stroke-dashoffset: 265;
		-ms-stroke-dashoffset: 265;
		stroke-dashoffset: 265;
	}
	100% {
		-moz-transform: stroke-dashoffset: 0;
		-webkit-stroke-dashoffset: 0;
		-o-transform: stroke-dashoffset: 0;
		-ms-transform: stroke-dashoffset: 0;
		stroke-dashoffset: 0;
	}
}

@-moz-keyframes dash {
	0% {
		-moz-stroke-dashoffset: 265;
		-webkit-stroke-dashoffset: 265;
		-o-stroke-dashoffset: 265;
		-ms-stroke-dashoffset: 265;
		stroke-dashoffset: 265;
	}
	100% {
		-moz-transform: stroke-dashoffset: 0;
		-webkit-stroke-dashoffset: 0;
		-o-transform: stroke-dashoffset: 0;
		-ms-transform: stroke-dashoffset: 0;
		stroke-dashoffset: 0;
	}
}

@-o-keyframes dash {
	0% {
		-moz-stroke-dashoffset: 265;
		-webkit-stroke-dashoffset: 265;
		-o-stroke-dashoffset: 265;
		-ms-stroke-dashoffset: 265;
		stroke-dashoffset: 265;
	}
	100% {
		-moz-transform: stroke-dashoffset: 0;
		-webkit-stroke-dashoffset: 0;
		-o-transform: stroke-dashoffset: 0;
		-ms-transform: stroke-dashoffset: 0;
		stroke-dashoffset: 0;
	}
}

.slick-active svg.circleFill {
	-moz-animation: dash 6.5s infinite;
	-webkit-animation: dash 6.5s infinite;
	-ms-animation: dash 6.5s infinite;
	animation: dash 6.5s infinite;
	-moz-stroke-dashoffset: 0;
	-webkit-stroke-dashoffset: 0;
	-o-stroke-dashoffset: 0;
	-ms-stroke-dashoffset: 0;
	stroke-dashoffset: 0;
}


.anim-block__img_1 {
	display: block;
	position: absolute;
	left: 0;
	top: 49px;
	width: 93px;
	height: 22px;
	background-image: url("../img/01_img_icon_1.png");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: 0 0
}

.anim-block__img_2 {
	display: block;
	position: absolute;
	right: 0;
	top: 15px;
	width: 31px;
	height: 46px;
	background-image: url("../img/01_img_icon_2.png");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: 0 0
}

.anim-block__img_3 {
	display: block;
	position: absolute;
	right: 29px;
	top: 0;
	width: 12px;
	height: 50px;
	background-image: url("../img/01_img_icon_3.png");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: 0 0
}

.anim-block__img_4 {
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	width: 64px;
	height: 41px;
	background-image: url("../img/01_img_icon_4.png");
	background-repeat: no-repeat;
	-webkit-background-size: 64px 41px;
	-moz-background-size: 64px 41px;
	-o-background-size: 64px 41px;
	background-size: 64px 41px;
	background-position: 0 0
}

.circle_1,
.circle_2,
.circle_3 {
	display: block;
	opacity: 0;
	position: absolute;
	bottom: 6px;
	width: 9px;
	height: 9px;
	background-color: #e74c3c;
	background-image: url("../img/circle.png");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: center center
}

.circle_1 {
	left: 6px
}

.circle_2 {
	left: 26px
}

.circle_3 {
	left: 78px
}

.heightDown {
	-webkit-animation: heightDown 2s linear 1;
	-moz-animation: heightDown 2s linear 1;
	-o-animation: heightDown 2s linear 1;
	-ms-animation: heightDown 2s linear 1;
	animation: heightDown 2s linear 1
}

.box-services-list__link:hover .anim-block__car {
	display: none
}
.anim-img-wrap{
	display: block;
	position: relative;
	width:103px;
	height: 71px;
}
.service-1 .anim-img-wrap{
	width: 109px;
	height: 54px;
}
.service-1 .anim-block__car {	
	background:url(../img/service_1.png) no-repeat center center;
}
.service-1 .anim-block__img_1{
	background-image:url(../img/02_img_icon_1.png);
	width: 109px;
	height: 35px;
	left: 0px; top: auto; bottom: 0px;
}
.service-1 .anim-block__img_2{
	background-image:url(../img/02_img_icon_2.png);
	width: 62px;
	height: 44px;
	left: 0px; top: 0px;
}
.service-1 .anim-block__img_3{
	background-image:url(../img/02_img_icon_3.png);
	width: 52px;
	height: 54px;
	top: 0px;
	right: 0px;
}
.service-1 .circle_1, .service-1 .circle_2{
	border-radius: 50%;
	background-image:url(../img/circle_2.png);
	width: 22px;
	height: 21px;
	left: 16px;
	top: 26px;
}
.service-1 .circle_2{
	left: 59px;
}

.service-2 .anim-img-wrap{
	width: 103px;
	height: 62px;
}
.service-2 .anim-block__car {	
	background:url(../img/service_2.png) no-repeat center center;
}
.service-2 .anim-block__img_1{
	background-image:url(../img/03_img_icon_1.png);
	width: 104px;
	height: 34px;
	left: 0px; top: 28px;
}
.service-2 .anim-block__img_2{
	background-image:url(../img/03_img_icon_2.png);
	width:49px;
	height:56px;
	left: 0px; top: 0px;
}
.service-2 .anim-block__img_3{
	background-image:url(../img/03_img_icon_3.png);
	width: 29px;
	height: 39px;
	top: 0px;
	right: 33px;
}
.service-2 .circle_1, .service-2 .circle_2{
	border-radius: 50%;
	background-image:url(../img/circle_2.png);
	width: 22px;
	height: 21px;
	left: 22px;
	top: 34px;
}
.service-2 .circle_2{
	left: 59px;
}

.service-3 .anim-img-wrap{
	width: 125px;
	height: 46px;
}
.service-3 .anim-block__car {	
	background:url(../img/service_3.png) no-repeat center center;
}
.service-3 .anim-block__img_1{
	background-image:url(../img/04_img_icon_1.png);
	width: 125px;
	height: 28px;
	left: 0; top: 18px;
}
.service-3 .anim-block__img_2{
	background-image:url(../img/04_img_icon_2.png);
	width:91px;
	height:26px;
	left: 0px; top: 0px;
}
.service-3 .anim-block__img_3{
	background-image:url(../img/04_img_icon_3.png);
	width: 57px;
	height: 40px;
	top: 0px;
	right: 0;
}
.service-3 .circle_1, .service-3 .circle_2{
	border-radius: 50%;
	left: 14px;
	top: 26px;
	width: 12px;
	height: 11px;
	background-image:url(../img/circle_3.png);
	
}
.service-3 .circle_2{
	left: 80px;
}


.service-4 .anim-img-wrap{
	width: 104px;
	height: 61px;
}
.service-4 .anim-block__car {	
	background:url(../img/service_4.png) no-repeat center center;
}
.service-4 .anim-block__img_1{
	background-image:url(../img/05_img_icon_1.png);
	width: 104px;
	height: 36px;
	left: 0; top:auto; bottom: 0px;
}
.service-4 .anim-block__img_2{
	background-image:url(../img/05_img_icon_2.png);
	width:67px;
	height:46px;
	left: 0px; top: 0px;
	background-size: auto
}
.service-4 .anim-block__img_3{
	background-image:url(../img/05_img_icon_3.png);
	width: 95px;
	height: 3px;
	top: 0px;
	right:auto; left: 0px;
}
.service-4 .anim-block__img_4{
	background-image:url(../img/05_img_icon_4.png);
	width: 42px;
	height: 43px;
	top: 0px;
	right:0; left:auto;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	background-size:contain;
}
.service-4 .circle_1, .service-4 .circle_2{
	border-radius: 50%;
	left: 14px;
	top: 26px;
	width: 12px;
	height: 11px;
	background-image:url(../img/circle_3.png);
}
.service-4 .circle_2{
	left: 80px;
}



.service-6 .anim-img-wrap{
	width: 103px;
	height: 66px;
}
.service-6 .anim-block__car {	
	background:url(../img/service_6.png) no-repeat center center;
}
.service-6 .anim-block__img_1{
	background-image:url(../img/06_img_icon_1.png);
	width: 47px;
	height: 66px;
	left: 1px; top:0;
}
.service-6 .anim-block__img_2{
	background-image:url(../img/06_img_icon_2.png);
	width:47px;
	height:66px;
	left:auto; right: 1px; top: 0px;
	background-size: auto
}
.service-6 .anim-block__img_3{
	background-image:url(../img/06_img_icon_3.png);
	width: 30px;
	height: 20px;
	top: 21px;
	right:auto; left: 37px;
}
.service-6 .circle_1, .service-6 .circle_2{
	border-radius: 50%;
	left: 14px;
	top: 26px;
	width: 12px;
	height: 11px;
	background-image:url(../img/circle_3.png);
}
.service-6 .circle_2{
	left: 80px;
}


.col-news{
	display: inline-block;
	vertical-align: top;
	padding: 0 30px 0 0;
	margin: 0 -5px 0 0;
}
.col-news img{
	display: block;
	margin: 0 auto 0 auto;
	max-width: 100%;
}
.col-news_33{
	width: 32.5%;
	padding-top: 30px;
	padding-right: 8%;
}
.col-news_66{
	width: 67.5%;
}

/*
================================================================================
|                                    PRODUCT                                   |
================================================================================
*/
.inner-page .main-wrapper {
	padding: 0px 27px 0px 20px;
}
.inner-page header {
	top: 0;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,0.15);
}
.inner-page p {
	font-weight: 350;
}
aside {
	width: 25.8%;
	float: left;
	position: relative;
    z-index: 1;
}
.aside__img {
	padding: 85px 0 0;
}
.aside__img img {
	max-width: 70%;
	margin: 0 auto;
	display: block;
}
.inner-cont {
	margin: 0 0 0 -400px;
    padding: 0 0 0 20px;
    float: right;
    width: 74.2%;
}
.aside__list {
	list-style-type: none;
}
.aside__item {
	display: block;
	width: 100%;
	border: 1px solid #e6e6e6;
}
.aside__link {
	color: #000;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	line-height: 26px;
	font-weight: 400;
}
.aside__link span {
	display: table-cell;
	vertical-align: middle;
	height: 125px;
	padding: 0 40px;
}
.aside__item.active .aside__link, .aside__link:hover {
	background-color: #f36f21;
	color: #fff;

}
.aside__item .aside__list_sub .aside__link {
	background-color: #f7f7f3;
	color: #000;
	text-transform: none;
	font-size: 16px;
	line-height: 20px;
}
.aside__item .aside__list_sub .aside__link:hover {
	background-color: #ebebe6;
}
.aside__item .aside__list_sub .aside__link span {
	height: 108px;
}
.aside__list_sub {
	display: none;
}
/* BREAD CRUMBS */
.box-bread-crumbs {
	width: 74.2%;
	float: right;
	padding-left: 20px;
}
.bread-crambs {
	background-color: #f7f7f3;
	padding: 20px;
	margin-bottom: 20px;
}
.bread-crambs__item {
	display: inline-block;
	list-style-type: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 350;
}
.bread-crambs__link {
	vertical-align: middle;

}
.bread-crambs__item:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #f36f21;
	margin: 0 9px;
}
.bread-crambs__item:first-child:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 20px;
	border-radius: 0;
	background: url('../img/bc_home.png');
    margin: 0 14px 0 0;
}
/* END BREAD CRUMBS */

.box-slider_product {
	height: 403px;
	margin-bottom: 40px;
}
.box-slider_product .slick-initialized .slick-slide {
    background-size: cover;
}
.box-slider_product .slider-description {
	padding: 0 40px;
	width: 553px;
	height: 203px;
	background: #00734a;
}
.box-slider_product .slider-description-text {
	padding: 0;
}
.box-slider_product .slider-description-text__cont{
	height: 203px;
}
.box-slider_product .slide-title {
	color: #fff;
	font-family: 'HeliosCond', sans-serif;
	font-size: 39px;
	font-weight: 400;
	line-height: 45px;
}
.box-slider_product .slick-arrow{
	display: block;
	position: absolute;
	width: 61px;
	height: 61px;
	background: rgba(0,0,0,0.4);
}
.box-slider_product .slick-prev {
	bottom: 0;
	left: 0;
}
.box-slider_product .slick-next {
	bottom: 0;
	right: 553px;
	left: initial;
}
.box-slider_product .slick-prev:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 21px;
	height: 17px;
	margin: -10px 0 0 -8px;
	background: url(../img/icon_list.png) no-repeat left 0px;
}
.box-slider_product .slick-next:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 21px;
	height: 17px;
	margin: -10px 0 0 -8px;
	background: url(../img/icon_list.png) no-repeat left 0px;
	-moz-transform: scale(1,-1);
    -webkit-transform: scale(1,-1);
    -o-transform: scale(1,-1);
    transform: scale(1,-1);

}

/* ADVANTAGES */
.box-advantages {
	padding: 25px 0;
}
.box-advantages h1{
	font-size: 39px;
	line-height: 42px;
	font-weight: 400;
	font-family: 'HeliosCond', sans-serif;
	margin-bottom: 15px;
}
.box-slider_advantages {
	height: 409px;
}
.box-slider_advantages .slider-description {
    /* width: 35%; */
    max-width: 398px;
    background: #f7f7f3;
    height: 100%;
    padding: 53px;
}
.box-slider_advantages .box-timer {
    right: 160px;
    left: initial;
    bottom: 40px;
}
.box-slider_advantages .slider-description-text {
    margin: 0;
    padding: 0;
}
.box-slider_advantages .slider-wrap .slick-prev {
    right: 305px;
    left: initial;
    bottom: 75px;
}
.box-slider_advantages .slider-wrap .slick-next {
    right: 72px;
    left: inherit;
    bottom: 75px;
}
.box-slider_advantages .slider-img {
	height: 100%;
	width:calc(100% - 398px);
	background-size: cover;
}

.box-advantages__buttons {
	text-align: center;
	padding-top: 30px;
}
.box-advantages__buttons .button {
	display: inline-block;
	margin-right: 15px;
	width: 335px;
}
.box-advantages__buttons .button_green {
	padding: 21px 25px 0 25px;
}

.box-advantages__buttons .button__arrow {
    background: url(../img/icon_list.png) no-repeat left -18px;
}
.box-advantages__buttons .button_block {
	
}
.watch-icon {
	width: 22px;
	height: 15px;
	background: url('../img/watch_icon.png') no-repeat left 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
}
.box-advantages__buttons .button_block:hover .watch-icon {
	background: url('../img/watch_icon.png') no-repeat left -15px;
}
/* END ADVANTAGES */

/* TABS */
.tab-wrap {
	padding-top: 40px;
}
.box-tab-cont{
   position: relative;
   border-left: 2px solid #e6e6e6;
   border-right: 2px solid #e6e6e6;
   border-bottom: 2px solid #e6e6e6;
}
.hide-tab{
   position: absolute;
   left: 0;top: 0;
   height:0; width:0;
   overflow:hidden;
   z-index: -1;
   opacity: 0;
}
.nav-tab-list {
	overflow: hidden;
}
.nav-tab-list__item {
	width: 25%;
	height: 61px;
	border-bottom: 2px solid #e6e6e6;
	text-align: center;
	padding: 0 10px;
	float: left;
	list-style-type: none;
}

.nav-tab-list__item.active {
	border-bottom: none;
	border-top: 2px solid #e6e6e6;
	border-left: 2px solid #e6e6e6;
	border-right: 2px solid #e6e6e6;
}
.nav-tab-list__link {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	font-family:'HeliosCond';
	color: #cccccc;
	display: table;
	vertical-align: middle;
	margin: 0 auto;
}
.nav-tab-list__link span {
	display: table-cell;
	vertical-align: middle;
	height: 61px;
}
.nav-tab-list__item.active .nav-tab-list__link, .nav-tab-list__link:hover {
	color: #000;
}
.box-tab-cont {
	padding: 40px 40px 37px;
}
.tab-advantages__list {
	border-bottom: 1px solid #e6e6e6;
}
.tab-advantages__item {
	list-style-type: none;
	width: 100%;
	margin-bottom: 40px;
}
.tab-advantages__img {
	width: 25.8%;
	margin-right: -5px;
}

.tab-advantages__img img {
	width: 100%;
}
.tab-advantages__link, .subcategory__link {
	display: block;
	position: relative;
}
.tab-advantages__link:hover:before, .subcategory__link:hover:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.tab-advantages__link:hover:after, .subcategory__link:hover:after {
	content: '';
	display: block;
	width:41px;
	height: 42px;
	margin: -21px 0 0 -20px;
	position: absolute;
	top:50%;
	left: 50%;
	background: url('../img/icon_search.png') no-repeat center bottom;
}
.tab-advantages__text {
	width: 74.2%;
	padding: 0 0 0 40px;
}
.tab-advantages__item h3 {
	padding: 0 0 12px;
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'HeliosCond';
}
.tab-advantages__img, .tab-advantages__text {
	display: inline-block;
	vertical-align: top;
}
.box-tab-link {
	text-align: center;
	padding-top: 38px;
}
.tab-link__cont {
	color: #f36f21;
	font-size: 18px;
	line-height: 20px;
	font-family: "HeliosCond", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	padding-left: 30px;
}
.tab-link__cont:after {
	content: "";
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url('../img/more.png') no-repeat center;
	background-size: contain;
	position: absolute;
	left: 0px;
	top: -5px;

}
/* END TABS*/

/* COSTING*/
.box-costing {
	overflow: hidden;
}
.box-costing h2{
	font-family: 'HeliosCond', sans-serif;
	font-size: 39px;
	font-weight: 400;
	line-height: 43px;
	padding: 55px 0 30px;
}
.box-form {
	width: 63%;
	float: left;
	background-color: #f2f2f2;
	overflow: hidden;
	padding: 80px 0;
}
.costing-form {
	width: 90%;
	max-width: 417px;
	margin: 0 auto;
}
.box-field {
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
}
.box-field_submit {
	margin-top: 38px;
}
.hide-label {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #8c8c8c;
    font-family: "HeliosCond";
    z-index: 2;
}
.focused-field .hide-label {
    font-size: 12px;
    top: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 20px;
    color: #8c8c8c;
    background-color: transparent;
    border: none;
	
	position: relative;
	z-index: 3;
}
.costing-form .button_block {
	width: 100%;
	background-color: #f36f21;
	color: #fff;
}
.costing-form .button_block:hover {
	width: 100%;
	background-color: transparent;
	border: 1px solid #f36f21;
	color: #f36f21;
}
.box-sales {
	width: 37%;
	float: right;
	text-align: center;
}
.box-sales h3, .box-sales__name {
	font-family: "HeliosCond", sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
}
.box-sales h3 {
	padding: 0 0 30px;

}
.box-sales__photo {
	width: 138px;
	height: 139px;
	margin: 0 auto 45px;
	overflow: hidden;
}
.box-sales__photo img {
	width: 100%;
}
.box-sales__position {
	font-family:'FiraSans';
	font-weight: 350;
	font-size: 15px;
	padding: 5px 0 45px;
}
.box-sales__tel {
	padding-bottom: 16px;
}
.box-sales__tel a, .box-sales__mail a{
	font-family: "HeliosCond";
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
}
.box-sales__tel a:hover, .box-sales__mail a:hover, .bread-crambs__link:hover{
	text-decoration: underline;
}
.box-sales__mail a {
	color: #f36f21;
}
/* END COSTING */

/* BACK */
.box-back {
	width: 100%;
	height: 190px;
	text-align: center;
	position: relative;
	overflow:hidden;
	margin: 60px 0;
}
.box-back__title-wrap {
	display: table;
	margin: 0 auto;
	text-align: center;
	height: 190px;
}
.box-back__title {
	display: table-cell;
	vertical-align: middle;
	font-family: 'HeliosCond';
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 200px;
}
.box-back__title a:hover {
	color: #f36f21;
}
.box-back__dots {
	padding-top: 5px;
}
.box-back__dot {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #ebb240;
	display: inline-block;
}
.back__arrow {
	display: block;
	width: 190px;
	height: 190px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	z-index: 4;
	cursor: pointer;

}
.back__arrow_left {
	background-image: url('../img/back_arrow.png');
	left: 0px;

}
.back__arrow_right {
	background-image: url('../img/back_arrow.png');
	right: 0px;
	-moz-transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
    -o-transform: scale(-1,1);
    transform: scale(-1,1);
}
.back__img {
	width: 190px;
	height: 190px;
	position: relative;
}

.back__img:after {
	content: '';
	display: block;
	width: 190px;
	height: 190px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left: 0;
}
.back__img:hover:after, .active .back__img:after{
	background-color: rgba(0,0,0,0.0);
}

.back__text, .back__img {
	display: inline-block;
	vertical-align: middle;
}
.back-left .back__img, .back-left .back__text{
	margin-left: -2px;
}
.back-right .back__img, .back-right .back__text{
	margin-right: -2px;
}
.back-left, .back-right {
	background-color: #00734a;
	color: #fff;
	text-align: left;
    display: inline-block;
    position: absolute;
	width: 63%;
	transition: all 0.5s linear;
}

.back-left {
	margin-right: -190px;
	right: 100%;
}
.active.back-left {
	right: 37%;
	margin-right: 0;
}

.back-right {
	margin-left: -190px;
	left: 100%;
}
.active.back-right {
	margin-left: 0px;
	left: 37%;
}
.back__text {
	font-family: 'HeliosCond';
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	width: 100%;
    
}
.back-left .back__text {
	padding-left: 190px;
	margin-right: -190px;
}
.back-right .back__text {
	padding-right: 190px;
	margin-left: -190px;
	text-align: right;
}

/* END BACK */

/* SUBCATEGOTY */
.box-subcategory h1 {
	font-size: 39px;
	line-height: 42px;
	font-weight: 400;
	padding: 15px 0 30px;
}
.subcategory__list {
	list-style-type: none;
}
.subcategory__item {
	padding: 0 0 40px;
}
.subcategory__img, .subcategory__text {
	display: inline-block;
	vertical-align: top;
}
.subcategory__img {
	width: 35.4%;
}
.subcategory__text {
	width: 64.6%;
	margin-left: -4px;
	padding-left: 20px;
}
.subcategory__text h3, .subcategory__text h3 a{
	font-size: 29px;
	line-height: 47px;
	padding: 0;
}
.subcategory__text h3 a{
	margin-top: -10px;
	display: block;
}
.subcategory__text h3{
	padding: 0 0 5px;
}
.subcategory__img img{
	width: 100%;
}
.subcategory__button {
    text-align: left;
    margin-left: 35.4%;
	padding: 5px 0 120px 20px;
}
.subcategory__button .button_green{
	width: 294px;
}
/* END SUBCATEGOTY */

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background:#ebebeb; 	
	text-align:left;
	position:absolute;
	left:0px; bottom:0px;
	width:100%;
	min-width: 320px;
}
.footer-top{
	padding: 51px 0 15px 0;
}
.footer-col-nav{
	display: inline-block;
	vertical-align: top;
	margin: 0 -5px 0 0;
	width: 20%;
	padding: 20px 25px 10px 0;
}
.footer-col-nav_2{
	width: 22%;
}
.footer-col-nav_3{
	width: 20%;
}
.footer-col-nav_4{
	width: 17%;
}
.footer-col-nav_contact{
	text-align: right;
	width: 21%;
	padding-right: 0px;
}
.footer-title{
	display: block;
	font-size:18px;
	line-height:22px;
	font-family: 'HeliosCond';
	color: #000000;
	text-transform: uppercase;
	padding: 10px 0 10px 0;
}
.footer-title+.footer-title{
	padding-top: 15px;
}
.footer-title a{
	font-size:18px;
	line-height:22px;
	font-family: 'HeliosCond';
	color: #000000;
	text-transform: uppercase;
}
.footer-title a:hover{
	color: #f36f21;
}
.footer-nav{
	padding: 10px 0 0 0;
}
.footer-nav__item{
	display: block;
	list-style-type: none;
	padding: 5px 0 7px 0;
}
.footer-nav__link{
	display: block;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
}
.footer-nav__link:hover{
	color: #f36f21;
}
.footer-tel{
	font-size:36px;
	line-height:48px;
	font-family: 'HeliosCond';
	color: #000000;
	text-transform: uppercase;
}
.footer-tel a{
	display: inline-block;
	font-size:36px;
	line-height:48px;
	font-family: 'HeliosCond';
	color: #000000;
	text-transform: uppercase;
}
.footer-email{
	padding: 10px 0 0 0;
}
.footer-email a{
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
}
.footer-email a:hover{
	color: #f36f21;
}
.footer-social{
	padding: 18px 0 0 0;
}
.footer-social__icon{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 24px;
	background:url(../img/social_icon.png) no-repeat center center;
}
.footer-social__icon_1{
	width: 12px; height: 24px;
	background-position: left top;
}
.footer-social__icon_2{
	width: 26px; height: 24px;
	background-position: -41px top;
}
.footer-bottom{
	padding: 0 0 50px 0;
}
.footer-col_copy{
	width: 42%;
}
.copy{
	padding: 0 0 0 0;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
}
.footer-col_bottom-nav{
	width: 37%;
}
.footer-nav_inline{
	margin-left: -55px;
	padding-top: 0px;
}
.footer-nav_inline .footer-nav__item{
	display: inline-block;
	vertical-align: top;
	margin-left: 55px;
}
.footer-developer{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}
.footer-developer__text{
	display: block;
	padding: 0 5px 8px 0;
}


@media screen and (max-width:1500px){
	.main-nav-list__item{
		padding-left: 3%; 
		padding-right: 3%;
	}
	.wrapper{
		padding-left: 75px;
		padding-right: 75px
	}
	header .wrapper{
		padding-right: 130px;
	}
	.box-lang{
		width: 130px;
	}
	.slider-description{
		padding-left: 360px;
		padding-right: 130px;
	}
	.footer-nav_inline{
		margin-left: -30px;
	}
	.footer-nav_inline .footer-nav__item{
		margin-left: 30px;
	}
	.footer-tel a{
		font-size: 33px;
	}
	.button-news{
		right: 130px;
	}
	.back-right .back__text {
	    padding-right: 110px;
	}
	.back-left .back__text {
	    padding-left: 110px;
	}
	.back__arrow {
		width: 170px;
	}


}

@media screen and (max-width:1300px){
	.main-nav-list__item{
		padding-left: 2.5%; 
		padding-right: 2.5%;
	}
	.wrapper{
		padding-left: 40px;
		padding-right: 40px
	}
	header .wrapper{
		padding-right: 100px;
	}
	.box-lang{
		width: 100px;
	}
	.slider-description{
		padding-left: 360px;
		padding-right: 100px;
	}
	.box-lang__link{
		font-size: 32px;
	}
	.footer-tel a{
		font-size: 28px;
		line-height: 35px;
	}
	.button-news{
		right: 40px;
	}
	.box-news-list .slick-next{
		right: 205px;
	}
	.numbers-news{
		right: 225px;
	}
	.box-news-list .slick-prev{
		right: 316px;
	}
	
	.news-list{
		margin-left: -40px;
		margin-right: 0px;
	}
	.news-list__item{
		margin-left: 40px;
	}
	.back__text {
	    font-size: 16px;
	}
}

@media screen and (max-width:1200px){
	.main-nav-list{
		padding-right: 0px;
	}
	.main-nav-list__item{
		padding-left: 1.6%; 
		padding-right: 1.6%;
	}
	.wrapper{
		padding-left: 30px;
		padding-right: 30px
	}

	.box-advantages__buttons .button {
		display: inline-block;
		margin-right: 15px;
		width: 45%;
	}
	.box-advantages__buttons .button_green {
		padding: 21px 10px 0 10px;
	}
	header .wrapper{
		padding-right: 90px;
	}
	.box-lang{
		width: 90px;
	}
	.box-lang__link{
		font-size: 28px;
	}
	.slider-description{
		padding-left: 340px;
		padding-right: 30px;
		width: calc(100% - 150px)
	}
	.box-next-screen{
		left: 70px;
	}
	.footer-tel a{
		font-size: 25px;
		line-height: 33px;
	}
	.button-news{
		right: 30px;
	}
	.box-news-list .slick-next{
		right: 195px;
	}
	.numbers-news{
		right: 215px;
	}
	.box-news-list .slick-prev{
		right: 306px;
	}
	.slider-wrap .slick-prev{
		left: 200px;
	}
	.slider-wrap .slick-next{
		left: 420px;
	}
	
	.aside__link span {
		padding: 0 25px;
	}
	.box-timer{
		left: 280px;
	}

	.box-slider_advantages {
	    height: 450px;
	}
	.box-slider_advantages .slider-description {
		width: 100%;
	    max-width: initial;
	    height: 190px;
	    padding: 10px 240px 10px 10px;
	}
	.slider-description-text__cont {
	    height: 170px;
	}
	.box-slider_advantages .box-timer {
	    right: 90px;
	}
	.box-slider_advantages .slider-wrap .slick-prev {
	    right: 210px;
	}
	.box-slider_advantages .slider-wrap .slick-next {
	    right: 35px;
	}
	.box-slider_advantages .slider-img {
	    height: 300px;
	    width: 100%;
	}


	.active.back-left {
		right: 0%;
	    z-index: 4;
	}
	.active.back-right {
		left: 0%;
	    z-index: 4;
	}
	.back-left, .back-right {
	    width: 100%;
	}
	.back-left .back__text {
	    padding-left: 120px;
	}
	.back-right .back__text {
	    padding-right: 120px;
	}
	
	.box-slider_product .slick-prev {
		bottom: 0;
		left: 0;
	}
	.box-slider_product .slick-next {
		bottom: 0;
		right:65%;
		left: initial;
	}
	.box-slider_product .slide-title {
		font-size: 30px;
	    line-height: 40px;
	}
	.box-slider_product .slider-description {
	    padding: 0 30px;
	    width: 65%;
	}
	
}

@media screen and (min-width:992px){
	.opened-block-nav{display: block!important;}
}
@media screen and (max-width:991px){
	header .wrapper{
		padding-right: 30px;
	}
	.box-lang{
		width: 90px;
	}
	.button-nav{
		display: block;
		float: right;
		margin-top: 25px;
	}
	.logo{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.opened-block-nav{
		display: none;
		position: absolute;
		left: 0px; top: 100%;
		width: 100%;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		background: #FFF;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
		-moz-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
		border-top: 1px solid #000;
	}
	.main-nav{
		margin: 0 0 0 0;
		padding: 0 20px 0 20px;
		text-align: left;
	}
	.main-nav-list{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.main-nav-list__item{
		width: 50%;
		margin: 0 -5px 10px 0;
	}
	.box-lang{
		position: static;
		width: 50%;
		display: inline-block;
		vertical-align: top;
		height: 90px;
	}
	.box-lang__link{
		padding-top: 27px;
	}
	.box-search{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		height: 90px;
		position: static;
	}
	.box-search__link{
		padding-top: 30px;
	}
	.box-search__icon{
		width: 29px; height: 29px;
		background-size: 29px 58px;
	}
	
	
	.col-inf_1, .col-inf_2{
		width: 50%;	
	}
	.col-inf_3{
		width: 100%;
	}
	.footer-col-nav{
		width: 33.333%;
	}
	.footer-col-nav_4{
		width: 50%;
	}
	.footer-col-nav_contact{
		width: 50%;
		text-align: left;
	}
	.footer-social__icon{
		margin-left: 0px;
		margin-right: 24px;
	}
	.footer-bottom .footer-col-nav{
		width: 50%;
	}
	.box-services-list__text{
		font-size: 21px;
		line-height: 27px;
		left: 30px;
	}
	.box-services-list__link{
		padding-left: 30px;
		padding-right: 30px;
	}
	.footer-nav_inline{
		margin-left: -15px;
		margin-top: -7px;
	}
	.footer-nav_inline .footer-nav__item{
		margin-left: 15px;
		padding-bottom: 2px;
	}
	
	.slider-wrap .slick-prev{
		left: 120px;
	}
	.slider-wrap .slick-next{
		left: 300px;
	}
	.slider-description{
		padding-left: 255px;
		width: calc(100% - 100px);
	}
	.box-next-screen{
		left: 30px;
	}
	.box-button-more{
		width: 170px;
	}
	.button{
		padding-left: 25px;
		padding-right: 25px;
		font-size: 16px;
		height: 50px;
		padding-top: 16px;
	}
	.button__arrow{
		margin-left: 8px;
	}
	.slider-description-text{
		margin-right: -170px;
		padding-right: 180px;
	}
	.slider-description-text__cont p{
		font-size: 15px;
		line-height: 19px;
	}
	.slider-inf{
		padding-top: 150px;
		padding-bottom: 27px;
	}
	.slider-inf .list{
		padding-top: 18px;
	}
	.box-slider{
		height: 700px;
	}
	.inf-about{
		padding-left: 8%;
		padding-right: 8%;
		padding-top: 30px;
	}
	
	.box-timer{
		left: 175px;
	}
	
	.box-news-list .slick-next{
		right: 135px;
	}
	.box-news-list .slick-prev{
		right:270px;
	}
	.numbers-news{
		right: 165px;
	}
	.col-news_33{
		width: 25%;
	}
	.col-news_66{
		width: 75%;
	}
	.news-list__item{
		margin-left: 20px;
	}
	.news-list{
		margin-left: -20px;
	}

	.box-advantages__buttons .button {
	    font-size: 13px;
	    padding-top: 13px;
	}
	.box-advantages__buttons .button_green {
	    padding: 16px 10px 0 10px;
	}
	.aside__link {
	    font-size: 18px;
	}
	.box-slider_advantages {
	    height: 450px;
	}

	.search-form{
		width: 100%!important;
	}	
	.opened-search{
		right: 0px;
	}

	.aside__link span {
	    padding: 0 10px;
	}
	.nav-tab-list__link {
		font-size: 16px;
		line-height: 18px;
	}
	.box-sales__tel a, .box-sales__mail a {
	    font-size: 18px;
	    line-height: 20px;
	}
	.box-back__title {
	    font-size: 15px;
	}
	.box-slider_product {
	    height: 550px;
	}
	.box-slider_product .slider-description-text__cont, .box-slider_product .slider-description {
	    height: 150px;
	}
	.box-slider_product .slider-description {
	    padding: 0 30px;
	    width: 100%;
	}
	.box-slider_product .slick-prev, .box-slider_product .slick-next {
	    bottom: 150px;
	}
	.box-slider_product .slick-prev {
	    left: 0;
	}
	.box-slider_product .slick-next {
	    right: 0;
	    left: initial;
	}
	.subcategory__text h3, .subcategory__text h3 a {
	    font-size: 22px;
	    line-height: 30px;
	   /*  padding: 0; */
	}
}

@media screen and (max-width:767px){
	.main-page header{
		top: 0px;
	}
	.slider-inf{
		padding-top: 100px;
		width: 300px;
	}
	.text-title{
		padding-bottom: 0px;
	}
	.text-title img{
		max-width: 100%;
		display: block;
	}
	.box-list-slider{
		padding-left: 0px;
		text-align: left;
	}
	.list__item{
		font-size: 16px; line-height: 19px;
	}
	.slider-description{
		height: 230px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 90px;
		width: calc(100% - 80px);
	}
	.slider-wrap .slick-prev{
		bottom: 160px;
		left: 100px;
	}
	.slider-wrap .slick-next{
		bottom: 160px;
		left: 270px;
	}
	.box-next-screen{
		left: 20px;
	}
	
	.slider-description .button{
		padding-left: 15px;
		padding-right: 15px;
	}
	.box-button-more{
		width: 150px;
	}
	.slider-description-text{
		margin-right: -150px;
		padding-right: 160px;
	}
	.box-services-list__item{
		width: 50%;
	}
	.box-services-list__link{
		padding-left: 20px;
		padding-right: 20px;
	}
	.box-services-list__item:nth-child(1), .box-services-list__item:nth-child(2), .box-services-list__item:nth-child(3), .box-services-list__item:nth-child(4){
		border-bottom: 1px solid #3c9475;
	}
	.col-inf_1, .col-inf_2{
		width: 100%;
	}
	.col-inf_1{
		max-height: 400px;
	}
	.footer-col-nav{
		width: 50%;
	}
	.footer-top{
		padding-top: 20px;
	}
	.box-timer{
		left: 145px;
		bottom: 120px;
	}
	
	.inner-page .main-wrapper {
	    padding: 0px;
	}
	.box-advantages__buttons .button {
		display: block;
	    margin: 10px auto 0;
    	width: 70%;
	}
	.box-bread-crumbs {
	    width: 100%;
	    float: none;
	    padding-left: 0px;
	}
	aside {
	    width: 100%;
	    float: none;
	}
	.aside__img {
		display: none;
	}
	.aside__link span {
	    height: 75px;
	}
	.inner-cont {
	    margin: 0;
	    padding: 0;
	    float: none;
	    width: 100%;
	}
	.box-tab-cont {
	    padding: 25px;
	}
	.tab-advantages__text {
	    padding: 0 0 0 25px;
	}
	.box-costing h2 {
	    font-size: 30px;
	    line-height: 33px;
	    padding: 35px 10px 20px;
	}
	.tab-wrap {
	    padding: 0px 10px;
	}
	.inner-cont__text {
		padding: 0 10px;
	}
	.box-slider_product .slick-prev, .box-slider_product .slick-next {
	    bottom: 150px;
	}
	.box-slider_product .slick-prev {
	    left: 0;
	}
	.box-slider_product .slick-next {
	    right: 0;
	    left: initial;
	}
	.box-subcategory {
		padding: 0 10px;
	}
}

@media screen and (max-width:640px){
	.col-news_33{
		width: 100%;
		display: none;
	}
	.col-news_66{
		width: 100%;
	}
	.box-advantages__buttons .button {
    	width: 80%;
	}
	.nav-tab-list__item {
	    width: 100%;
	    border: none;
	}
	.box-tab-cont {
	    border: 2px solid #cccccc;
	}
	.nav-tab-list__item.active {
	    border: none;
	}
	.tab-advantages__img, .tab-advantages__text {
		width: 100%;
		padding: 0;
	}
	.tab-advantages__item h3 {
		padding: 12px 0 0 0;
		font-size: 18px;
		line-height: 20px;
	}

	.box-back {
		height: 120px;
		margin: 20px 0;
	}
	.box-back__title-wrap {
		height: 120px;
	}
	.box-back__title {
		padding: 0 125px;
	}
	.back__arrow {
		display: block;
		width: 120px;
		height: 120px;
	}
	.back__img {
		width: 120px;
		height: 120px;
	}
	.back__img img {
		width: 100%;
	}
	.back__img:after {
		width: 120px;
		height: 120px;
	}
	.back-left .back__img, .back-left .back__text{
		margin-left: -2px;
	}
	.back-right .back__img, .back-right .back__text{
		margin-right: -2px;
	}
	.back-left {
		margin-right: -120px;
	}
	.back-right {
		margin-left: -120px;
	}
	.back-left .back__text {
		padding-left: 120px;
		margin-right: -120px;
	}
	.back-right .back__text {
		padding-right: 120px;
		margin-left: -120px;
	}
	.nav-tab-list__item, .nav-tab-list__link span {
		height: 28px;
	}

	.subcategory__item {
	    padding: 0 0 20px;
	}
	.subcategory__img, .subcategory__text {
	    width: 100%;
	}
	.subcategory__text {
	    margin: 15px 0px 0;
	    padding-left: 0px;
	}
	.subcategory__button {
	    text-align: center;
	    margin-left: 0;
	    padding: 0 0 30px;
	}
	.subcategory__text h3, .subcategory__text h3 a {
	    padding: 0;
	}
	.box-subcategory h1 {
	    font-size: 30px;
	    line-height: 36px;
	    font-weight: 400;
	    padding: 15px 0 10px;
	}

}

@media screen and (max-width:500px){
	.wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.box-next-screen{
		display: none;
	}
	.slider-description{
		width: 100%;
	}
	.slider-wrap .slick-prev{
		left: 25px;
	}
	.slider-wrap .slick-next{
		left: 200px;
	}
	.slider-description-text__cont p{
		font-size: 13px;
	}
	.slide-title{
		font-size: 22px;
	}
	.slider-description .button{
		padding-left: 10px;
		padding-right: 10px;
	}
	.box-button-more{
		width: 140px;
	}
	.slider-description-text{
		margin-right: -140px;
		padding-right: 150px;
		font-size: 15px;
	}
	.footer-col-nav{
		width: 100%;
	}
	.footer-bottom .footer-col-nav{
		width: 100%;
	}
	.footer-bottom{
		padding-bottom: 20px;
	}
	.box-news{
		padding-top: 40px;
	}
	.box-news-list{
		padding-top: 40px;
	}
	.box-news-list .slick-prev{
		right: auto;
		left: 40px;
		top: -35px;
	}
	.box-news-list .slick-next{
		right: auto;
		left: 140px;
		top: -35px;
	}
	.numbers-news{
		right: auto;
		left: 15px;
		top: 5px;
	}
	.inf-about{
		padding-left: 15px;
		padding-right: 15px;
	}
	.box-timer{
		left: 75px;
	}
	.box-sales, .box-form {
	    width: 100%;
	    float: none;
	}
	.box-sales h3 {
	    padding: 15px 0 15px;
	}
	.box-sales__photo {
	    margin: 0 auto 15px;
	}
	.box-sales__position {
	    padding: 5px 0 15px;
	}
	.box-slider_advantages .slider-wrap .slick-next, .box-slider_advantages .slider-wrap .slick-prev {
	    bottom: 175px;
	}
	.box-slider_advantages .slider-description-text__cont {
	    vertical-align: bottom;
	}
	.box-slider_advantages .slider-description {
	    height: 250px;
	    padding: 10px 10px 10px 10px;
	}
	.box-slider_advantages .box-timer {
	    bottom: 140px;
	}
	.slider-description-text__cont {
	    height: 230px;
	}
	.box-slider_product .slick-prev, .box-slider_product .slick-next {
	    bottom: 150px;
	}
	.box-slider_product .slick-prev {
	    left: 0;
	}
	.box-slider_product .slick-next {
	    right: 0;
	    left: initial;
	}
	.box-slider_product .slide-title {
	    font-size: 22px;
	    line-height: 30px;
	}
	.box-advantages h1 {
	    font-size: 35px;
	    line-height: 40px;
	    padding-left: 10px;
	}
}
@media screen and (max-width:450px){
	.box-services-list__item{
		width: 100%;
	}
	.back__arrow {
	    width: 30px;
	    background-size: contain;
	}
	.back__text {
	    font-size: 13px;
	}
	.back-right .back__text {
	    padding-right: 45px;
	}
	.back-left .back__text {
	    padding-left: 45px;
	}
}











